html{
  background-image: url("../img/milky.jpg") ;
   background-repeat:no-repeat
  /*
    background-color: #A09B97; */
}

body {
    background-color: #101011;
    padding: 8px;
    width: auto;
    opacity: 0.8;
    filter: alpha(opacity=40);
}

h1{
    color: white;
    text-align: left;
}

a:link, a:visited{
    background-color: #4F5051;
    color: white;
    padding: 4px 9px;
    text-align: left; 
    text-decoration: none;
    display: initial;
    border-bottom: groove;
}

a:hover, a:active{
    background-color: #EA7E0B;
}
p {
    font-family: verdana, cursive, sans-serif ;
    font-size: 16px;
}
div {
	background-image: linear-gradient(-90deg, #558939, #278C8C);
   color: white;
	margin-left: auto;
	margin-right:auto;
	padding-left: 36%; 
	box-sizing: border-box;
	padding-top: 2%; 
	padding-bottom: 1%;
    border-radius: 12px;
    width: auto;
    height: auto;
          
}
div.alert{
	  background-color: #4F5051;
    font-family: cursive, sans-serif, fantasy;
    color: #F27D00;
    font-size: 18px;  
            
}
table {
    direction: inherit;
    padding-left: 1px;
    border-spacing: 1px;
    margin-bottom: auto;
    padding-bottom: 0%;
        }
tr{
    color: #0D2626;
    font-size: large;
    
}
td{
    font-size: 16px;
    color: #171451;
    
}
th{
     color: #05A2AD;
     background-color: #444444;
}
label {
    cursor: default;
    font-size: 20px;
}
input{
    background-color: #FFFFFF;
    display: initial;
    }
   input[type=text] {
    width: 75%;
    padding: 10px 10px;
    margin: auto;
    box-sizing: padding-box;
    border: 1px solid #5E5555;
       }
    input[type=text]:focus {
    background-color: #878585;
}
select {
    width: 28%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
form{
    background-color: #0BC1A6;
    box-shadow: 3px 6px 9px #71DB59;
    width: 50%;
    padding-left: 15px;
    padding-bottom: 2px;
    padding-top: 18px;
    border-radius: 12px;
    opacity: 0.7;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    padding-bottom: 1px;
  }
button#sumit{
     color: #057739;
    flex-basis: fill;
    font-family: sans-serif;
    text-decoration: none;
    width: 140px;      
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    width: 100px;
    transition: all 0.3s;
    cursor: pointer;
    margin: inherit;
}
button#sumit {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
button#sumit:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
